/*ESTILOS GENERALES*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    background-color: antiquewhite;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}
/*NAV-STYLES*/
header{
    background-color: #D2001A;
    position: fixed;
    width: 100%;
    margin: auto;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index:2;
}
h1{
    color: #FFDE00;
    background-color: #D2001A;
    text-shadow: 1px 2px rgb(15, 13, 13);
    margin-left: 15px;
    display: flex;
    order: 0;
    flex-grow: 1;
}
#nav-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1;
    margin: 0;
}
#nav-bar a{
    height: 4rem;
    width: 8rem;
    text-decoration: none;
    color: #FFDE00;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}
a:hover{
    background-color: black;
}
a:active {
    background-color: #FFDE00;
    color: #D2001A;
}
/*BANNER STYLES*/
#banner{
    display: block;
    position: relative;
    width: 100%;
    height: 10rem;
}
#bg{
    width: 100%;
    height: 30rem;
    box-sizing: content-box;
    z-index: 0;
}
h2{
    background-color: #FFE15D;
    text-align: center;
    margin-top: -25px;
    z-index: 1;
    padding: 1rem;;
    position: absolute;
    width: 100%;
}
@media(max-width: 960px){

    h1{
        margin-top: 15px;
        display: flex;
        text-align: center;
        justify-content: center;
    }

}
@media(max-width: 650px){
    header{
        position: relative;
    }
    #nav-bar{
        display: flex;
        flex-direction: column;
    }
}

/*main styles-- index*/

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content:center;
    margin-top: 375px;
    box-shadow: 2px  #D2001A;
    padding: 1rem;
}
section{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
section img, section div{
    height: 100%;
}

section img{
    width: 100%;
}

section div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

section div h3{
    width: auto;
    padding: 1rem;
    color: #FFDE00;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 2px #D2001A;
    background-color: antiquewhite;
}

section div p{
    padding: 1rem;
    background-color: antiquewhite;
    text-align: center;
}
@media(max-width: 650px){
    section{
        width: 100%;
    }
}
/*main styles-- about*/
.container-about{
    background-color: antiquewhite;
    width: 100%;
    height: 400px;
    padding: 2rem;
    margin-top: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

#logo-about{
    margin-top: 50px;
    width: 250px;
    height: 250px;
    
}

.articles-about{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    justify-content: start;
    border: 1px solid rgb(81, 100, 124);
}
.background-about{
    background-color: #FFE15D;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    
    border-radius: 30px;
    height: 500px;
}
.title-article{
    text-align:start;
    color: #FFDE00;
    background-color: #D2001A;
    text-shadow: 1px 2px rgb(15, 13, 13);
    border-radius: 1px 1px;
}
.articles-about article{
    padding: 0.5rem;
    width: 100%;

}
.articles-about article p{
    background-color: #FFE15D;
    padding: 1rem;
}
.img-articles{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    flex-direction: column;
    width: 20%;
    height: 500px;

}
.img-articles img{
    width: 250px;
    height: 250px;
    border-radius: 30px;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.img-articles img:hover{
    transform: scale(1);
    scale: 1.25;
}
@media(max-width: 650px){
    .container-about{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .background-about{
        width: 100%;
    }
    .articles-about{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}
/*main styles-- contact*/
.container-contact{
    background-color: antiquewhite;
    height: 400px;
    padding: 2rem;
    margin-top: 320px;
    display: flex;
    justify-content: center;
}
#logo-contact{
    width: 250px;
    height: 250px;
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-top: -100px;
}
/*main styles-- rules*/
.container-rules{
    background-color: antiquewhite;
    width: 80%;
    padding: 1rem;
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
}
.rules{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
}
h4{
    padding: 1rem;
    font-size: 1.5rem;
}
.title-rules{
    font-size: 3rem;
    font-family: sans-serif;
    padding: 1rem;
    color: #D2001A;
    text-shadow: 1px 2px rgb(15, 13, 13);
}
li{
    padding: 0.5rem;
}
/*main styles-- game-info*/
.container-game-info{
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h5 {
    font-size: 3rem;
    font-family: sans-serif;
    padding: 1rem;
    color: #D2001A;
    text-shadow: 1px 2px rgb(15, 13, 13);
}
table {
    background-color: #D2001A;
    height: 50vh;
    width: 40rem;
    table-layout: auto;
    border-spacing: 5px;
    border-collapse: collapse;
    caption-side: bottom;
}
td{
    padding: 1rem;
}
table, th, td {
    border: 5px solid;
    border-color: black;
    text-align: center;
}

th {
    background-color: black;
    color: #FFDE00;
    padding-bottom: 5px;
    padding-top: 5px;
}

tr:nth-child(odd) {
    background-color:  #D2001A;
    color: black;
}

tr:hover {
    background-color: #FFE15D;
}

caption {
    background-color: azure;
}
.footer-game-info{
    margin-top: 20px;
}
h6{
    font-size: 2rem;
    padding: 1rem;
}
/*main styles-- registration*/
.form{
    margin-top: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 748px;
    height : 100%;
    margin : 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    background : #FFE15D;
}
.title-form{
    font-size: 2rem;
    font-family: sans-serif;
    padding: 1rem;
    color: #D2001A;
    text-shadow: 1px 2px rgb(15, 13, 13);
    position: absolute;
    margin-top: -75px;
}

fieldset{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.form1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    
}
.form2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    
}
.form2 input{
    display: flex;
    flex-direction: row;
}
.pre-school{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.closets-school{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
input {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
button {
    display: flex;
    padding-right: 5px;
    font: bold .6em sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    width: 75px;
    text-align: center;
}

button:hover,
button:focus {
    outline     : none;
    background  : #D2001A;;
    color       : #FFF;
}